* {
    margin: 0;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

body{
    background-color: #DCAC93;
}

/* HEADER */
.homeLink{
    display: inline-flex;
    font-family: 'Lydian';
    justify-content: left;
    align-items: left;
    justify-items: left;
    text-align: left;
    font-size: 35px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none !important;
    padding: 8px 0px 8px 0px;
}

/* LIST OF NAV LINKS IN THE HEADER */
.headerLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #000000;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.headerLink:hover{
    color: #ffffff;
    display: inline-flex;
    transition: .2s ease-in;
}

.currentLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #C97D54 !important;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.navLinkContainer{
    margin-left: 2%;
    margin-right: 2%;
}

.inquire{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 15px 0% 0% 1%;
    cursor: pointer;
    transition: all .2s ease-in;
    border: solid 1px;
    padding: 3px 5px 3px 5px;
    background: #CCFF00;
    color: #000000;
}

.inquire:hover{
    background:honeydew;
    color:hotpink;
}

/* MAIN CONTENT BELOW */
.aboutMain{
    margin: 0 0 40px 0;
    width: 100vw;
    height: 100%;
    background-color: #DCAC93 !important;
}

.aboutContainer{
    height: 100%;
    width: 70vw;
    margin-top: 2%;
    margin-left: 5%;
    padding-right: 20vw;
    overflow: scroll;
}

.aboutHeading{
    font-family: Pilowlava;
    font-size: 6.5vw;
    color: #fff;
}

.aboutH2{
    font-family: Pilowlava;
    font-size: 4.5vw;
    color: #fff;   
}

.inquireBody{
    margin: 40px 0 0 0 !important;
    cursor: pointer;
}

.inquireBody a{
    padding: 10px 8vw 10px 8vw!important;
    font-family: Helvetica;
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    border: solid 1px;
    border-radius: 100px;
    padding: 3px 5px 3px 5px;
    background: #CCFF00;
    color: #000000;
}

.inquireBody a:hover{
    background:#C97D54;
    color: #fff;
    transition: .2s ease-in;
}

.aboutSubhead{
    font-family: 'Mondwest-Regular' !important;
    font-size: 2vw;
    letter-spacing: 0.02em;
    color: #fff;
}

.aboutKN{
    font-family: 'Mondwest-Regular' !important;
    font-size: 3.6vw;
    color: #fff;
    margin-top: 5%;
}

.aboutBody{
    font-family: 'Mondwest-Regular' !important;
    font-size: 1vw;
    letter-spacing: 0.02em;
    color: #fff;
}

.aboutListShapes-child{
    display: grid;
    grid-row-start: 1;
    justify-items: center;
    align-content: stretch;
    width: 17vw;
    height: 300px;
    padding: 5px;
    margin: 0 1vw 0 1vw;
    max-width: 350px;
    background: #C97D54;
    border-radius: 100px;
}

.aboutList{
    display: grid;
    margin: 72px 0 72px 0;
    padding-inline-start: 0px !important;
    font-family: 'Mondwest-Regular' !important;
    letter-spacing: 0.02em;
    color: #000;
    list-style-type: none;
    /* justify-items: center; */
    align-items: stretch;
    align-content: stretch;
}

.aboutList li{
    text-align: center;
    max-width: 300px;
}

.aboutList li:nth-child(odd){
    grid-row-start: 1;
    font-size: 2em;
    margin: 50px 2vw 10px 2vw;
}

.aboutList li:nth-child(even){
    grid-row-start: 2;
    font-size: 1em;
    margin: 0 2vw 40px 2vw;
}

.aboutList img{
    width: 50px;
    margin: 0 0 24px 0;
}

.aboutList img:hover{
    width: 60px;
    transition: all 0.2s ease-in;
}

.aboutBody a{
    color: #C97D54;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.aboutBody a:hover{
    color: #000000;
}

.thankYou{
    font-family: Pilowlava;
    font-size: 6.5em;
    color: #fff;
    margin-top: 2%;
}

.thankYouHeart{
    display: inline-flex;
    width: 4vw;
}

/* FOOTER  */
footer {
    background-color: #C97D54;
    display: block;
    padding: 3%;
}

footer ul{
    list-style-type: none;
    display: flex;
}

.copyright{
    display: flex;
    width: 10vw;
    margin: auto;
    padding-bottom: 3%;
}

.footerLink{
    margin: auto;
    transition: all .2s ease-in;
}

.footerLink a{
    text-decoration: none !important;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.footerLink a:hover{
    color: #000000;
}
