* {
    margin: 0;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* BODY BELOW */
body{
    background-color: #F6EDE3;
}

/* HEADER BELOW */
.homeLink{
    display: inline-flex;
    font-family: 'Lydian';
    justify-content: left;
    align-items: center;
    justify-items: left;
    text-align: left;
    font-size: 35px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none !important;
    padding: 8px 0px 8px 0px;
}

/* LIST OF NAV LINKS IN THE HEADER */
.headerLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #000000;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: all .2s ease-in;
}

.currentLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #D3AD27 !important;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.headerLink:hover{
    color: #ffffff;
    display: inline-flex;
    transition: .2s ease-in;
}

.navLinkContainer{
    margin-left: 2%;
    margin-right: 2%;
}

.inquire{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 15px 0% 0% 1%;
    cursor: pointer;
    transition: all .2s ease-in;
    border: solid 1px;
    padding: 3px 5px 3px 5px;
    background: #CCFF00;
    color: #000000;
}

.inquire:hover{
    background:honeydew;
    color:hotpink;
}

/* MAIN CONTENT BELOW */
.projectsMain{
    width: 100vw;
    height: 100vh;
    background-color: #F6EDE3 !important;
}

/* DIRECTIONS TO NAVIGATE THE PAGE WITH LESS CONFUSION */
.projectsDirections{
    font-family: 'Mondwest-Regular' !important;
    font-size: 2em;
    letter-spacing: 0.03em;
    margin-top: 2.3%;
    color: #D3AD27;
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
}

@keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000vw);
    }
}
  
.projectsDirections span {
    animation: moveLeft 569s infinite;
    white-space: nowrap;
    display: block;
    /* position: relative; */
}

.projectsContainer{
    height: 85vh;
    width: 90vw;
    margin-top: 2%;
    margin-left: 5%;
    overflow: scroll;
}

.projectsContainer p{
    font-family: 'Mondwest-Regular' !important;
    font-size: 5.5em;
    line-height: 150%;
}

#content{
    transition: 0.2s;
}

#content:hover{
    color: #D3AD27;
    cursor: pointer;
}

#content:active{
    color: #D3AD27;
}

.panel{
    display: none;
    height: 50vh;
    gap: 2%;
    overflow: scroll;
}

/* MODAL STYLING */
#smallImg {
    height: 50vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #smallImg:hover {opacity: 0.7;}
  
  
  #smallImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #smallImg2:hover {opacity: 0.7;}

  /* FUN LITTLE PURPLE SCROLLBAR FOR THE LIST OF THINGS I'VE DONE */
  .projectsContainer::-webkit-scrollbar{
    width: 10px;  
     height: 0px;
}

.projectsContainer::-webkit-scrollbar-track:vertical {
    background: #f1f1f1;
    border-radius: 50px;
    padding-bottom: 0%;
}
  
  .projectsContainer::-webkit-scrollbar-thumb:vertical {
    background: #a396ff;
    border-radius: 50px;
    padding-bottom: 0%;
}

  .projectsContainer::-webkit-scrollbar-track-piece:vertical{
      background: #f1f1f1;
      border-radius: 50px;
      padding-bottom: 0%;
}

  .projectsContainer::-webkit-scrollbar-corner:vertical{
      display: none;
      padding-bottom: 0%;
}
  
  .projectsContainer::-webkit-scrollbar-track:horizontal {
    display: none;
    padding: 0%;
}
  
  .projectsContainer::-webkit-scrollbar-thumb:horizontal {
    display: none;
    padding: 0%;
}

  .projectsContainer::-webkit-scrollbar-track-piece:horizontal{
    display: none;
    padding: 0%;
}

/* FOOTER BELOW */
footer {
    background-color: #D3AD27;
    display: block;
    padding: 3%;
}

footer ul{
    list-style-type: none;
    display: flex;
}

.copyright{
    display: flex;
    width: 10vw;
    margin: auto;
    padding-bottom: 3%;
}

.footerLink{
    margin: auto;
    transition: all .2s ease-in;
}

.footerLink a{
    text-decoration: none !important;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.footerLink a:hover{
    color: #000000;
}

