* {
    margin: 0;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* BODY BELOW */
body{
    background-color: #D6E6EB;
}

/* HEADER BELOW */
.homeLink{
    display: inline-flex;
    font-family: 'Lydian';
    justify-content: left;
    align-items: center;
    justify-items: left;
    text-align: left;
    font-size: 35px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none !important;
    padding: 8px 0px 8px 0px;
}

/* LIST OF NAV LINKS IN THE HEADER */
.headerLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #000000;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: all .2s ease-in;
}

.currentLink{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    color: #266359 !important;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 20px 0% 0% 1%;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.headerLink:hover{
    color: #ffffff;
    display: inline-flex;
    transition: .2s ease-in;
}

.navLinkContainer{
    margin-left: 2%;
    margin-right: 2%;
}

.inquire{
    display: inline-flex;
    float: right;    
    font-family: Helvetica;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-decoration: none !important;
    align-items: center;
    margin: 15px 0% 0% 1%;
    cursor: pointer;
    transition: all .2s ease-in;
    border: solid 1px;
    padding: 3px 5px 3px 5px;
    background: #CCFF00;
    color: #000000;
}

.inquire:hover{
    background:honeydew;
    color:hotpink;
}

/* MAIN CONTENT BELOW */
.thanksMain{
    width: 100vw;
    height: 100vh;
    background-color: #D6E6EB !important;
}

.thanksContainer{
    height: 85vh;
    width: 90vw;
    margin-top: 2%;
    margin-left: 5%;
    overflow: scroll;
    /* padding-right: 5vw; */
}

.thanksHeading{
    font-family: Pilowlava;
    font-size: 6.5vw;
    color: #000000;
}

.thanksSubhead{
    font-family: 'Mondwest-Regular' !important;
    font-size: 2vw;
    letter-spacing: 0.02em;
    color: #000000;
}

.thanksH3{
    font-family: 'Mondwest-Regular' !important;
    font-size: 1.25em;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 20px 0 0 0;
}

.thanksBody{
    font-family: 'Mondwest-Regular' !important;
    font-size: 1vw;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 16px 0 0 0;
}

.thanksBody a{
    color: #4E8B9E;
}

.thanksBody a:hover{
    color: #00C2FF;
    transition: ease-in-out 0.2s;
}

.caseStudyContainer{
    display: flex;
    justify-content: space-around;
    margin: 8% 0 0 0;
    text-align: center;
}

.caseStudy{
    max-width: 600px;
}

.caseStudy img{
    max-width: 500px;
    margin: 32px 0 0 0;
    border-radius: 50px;
}

.caseStudyBody{
    max-width: 475px;
    margin: 30px auto auto auto;
}

.thanksLink{
    max-width: 300px;
    margin: 100px auto 0 auto;
    background: #CCFF00;
    border: 1px solid #CCFF00;
    border-radius: 100px;
}

.thanksH4{
    font-family: 'Mondwest-Regular' !important;
    font-size: 2em;
    letter-spacing: 0.02em;
    text-align: center;
    color: #4E8B9E;
    margin: 50px;
}

.thanksH4 a{
    color: #000000;
}

.thanksH4 a:hover{
    color: #C97D54;
    transition: 0.2s ease-in;
}

/* FUN LITTLE PURPLE SCROLLBAR FOR THE LIST OF THINGS I'VE DONE */
 .thanksContainer::-webkit-scrollbar{
    width: 10px;  
     height: 0px;
}

.thanksContainer::-webkit-scrollbar-track:vertical {
    background: #f1f1f1;
    border-radius: 50px;
    padding-bottom: 0%;
}
  
  .thanksContainer::-webkit-scrollbar-thumb:vertical {
    background: #a396ff;
    border-radius: 50px;
    padding-bottom: 0%;
}

  .thanksContainer::-webkit-scrollbar-track-piece:vertical{
      background: #f1f1f1;
      border-radius: 50px;
      padding-bottom: 0%;
}

  .thanksContainer::-webkit-scrollbar-corner:vertical{
      display: none;
      padding-bottom: 0%;
}
  
  .thanksContainer::-webkit-scrollbar-track:horizontal {
    display: none;
    padding: 0%;
}
  
  .thanksContainer::-webkit-scrollbar-thumb:horizontal {
    display: none;
    padding: 0%;
}

  .thanksContainer::-webkit-scrollbar-track-piece:horizontal{
    display: none;
    padding: 0%;
}

/* FOOTER BELOW */
footer {
    background-color: #4E8B9E;
    display: block;
    padding: 3%;
}

footer ul{
    list-style-type: none;
    display: flex;
}

.copyright{
    display: flex;
    width: 10vw;
    margin: auto;
    padding-bottom: 3%;
}

.footerLink{
    margin: auto;
    transition: all .2s ease-in;
}

.footerLink a{
    text-decoration: none !important;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.footerLink a:hover{
    color: #000000;
}